
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    background-color: #ddd7cd;
    font-size: 18px;
    line-height: 1.6;
}


ul {
    list-style-type: none; /* 去除列表符号 */
}

li {
    margin: 17px 0; /* 列表项间距 */
}

a {
    text-decoration: none; /* 去除下划线 */
    color: #523702; /* 设置链接颜色 */
}

a:hover {
    text-decoration: underline; /* 鼠标悬停时下划线 */
}

h1 {
    text-align: left; /* 标题居中 */
    font-family: 'Raleway', sans-serif; /* 字体样式 */
    font-size: 40px;
    color: #352503;
}
